<div class="inner-wrapper">
  <h1>New Dream</h1>

<%= form_for @dream do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :text, "Dream" %>
  <%= f.text_area :text %>

	<%= f.label :date %>
  <%= f.text_field :date, value: Date.today.strftime("%m/%d/%Y") %>

  <%= f.submit "Add Dream", class: "primary left button" %>
  <% end %>

<%= link_to 'Back', dreams_path, class: "small secondary right button" %>
</div>
