<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Dreamcacher</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
        <% if current_user %>
       <li><%= image_tag "#{current_user.avatar}", id: "avatar"%></li>
       <% end %>
      <% if current_user %>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <%- else -%>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
      <%- end -%>
      <li class="divider"></li>
      <li>
        <a href="/">Journal</a>
        </li>
      <li class="divider"></li>
      <li>
        <a href="/analytics">Analytics</a>
      </li>
      <li class="divider"></li>
    </ul>

    <ul class="right">
      <li class="has-form">
        <%= link_to "New Dream", new_dream_path, class: "button" %>
      </li>
    </ul>
  </section>
</nav>
