<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Dreamcacher</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <% if current_user %>
        <li class="has-dropdown not-click">
          <%= link_to "#" do %>
            <%= image_tag "#{current_user.avatar}", class: "avatar" %>
            <%= current_user.fake_username %>
          <% end %>
          <ul class="dropdown">
          <li><%= link_to 'User Preferences', edit_user_registration_path %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        </ul>
        </li>
      <% end %>
      <li class="divider"></li>
      <li>
        <a href="/">Journal</a>
        </li>
      <li class="divider"></li>
      <li>
        <a href="/analytics">Analytics</a>
      </li>
      <li class="divider"></li>
    </ul>

    <ul class="right">
      <li class="has-form">
        <%= link_to "New Dream", new_dream_path, class: "special button" %>
      </li>
    </ul>
  </section>
</nav>
