<!DOCTYPE html>
<html>
<head>
  <title>Dreamcacher</title>
  <link href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="background">
  <div class="dashboard row">
    <%= render "layouts/nav" %>
    <div class="content">
        <%- flash.each do |key, value| -%>
          <div class="alert-box flash flash-<%= key %>">
            <%= value %>
          </div>
        <%- end -%>
          <%= yield %>
      </div>
  </div>
</div>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
