<!DOCTYPE html>
<html>
<head>
  <title>Dreamcacher</title>
  <link href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%- flash.each do |key, value| -%>
    <div class="alert-box flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>
  <section class="top">
    <div class="title-box">
      <h1 class="title">DREAMCACHER</h1>
      <h2 class="title subtitle">data visualization + dream journal</h2>
    <%= link_to 'get started', new_user_registration_path, class: "action button" %>
    </div>
  </section>
  <section class="bottom">
    <div class="row demo-row">
      <div class="arrow arrow-left">
        <img src="https://cdn1.iconfinder.com/data/icons/arrows-15/96/Arrow-RightinCircle-512.png" />
      </div>
      <div class="arrow arrow-right">
        <img src="https://cdn1.iconfinder.com/data/icons/arrows-15/96/Arrow-RightinCircle-512.png" />
      </div>
        <div class="slide">
          <div class="columns small-12 medium-6 text-content">
            <h3>Dream Analytics</h3>
            <p>Significant patterns in your dreams are revealed in the analytics dashboard.</p>
          </div>
          <div class="columns small-12 medium-6">
            <img class="show-for-small-only" src="http://placehold.it/350x150">
            <img class="show-for-medium-up medium-img" src="http://placehold.it/350x400">
          </div>
        </div>
        <div class="slide current">
          <div class="columns small-12 medium-6 text-content">
            <h3>Journal Timeline</h3>
            <p>Easily navigate your journal via a responsive timeline.</p>
          </div>
          <div class="columns small-12 medium-6">
            <img class="show-for-small-only" src="http://placehold.it/350x150">
            <img class="show-for-medium-up medium-img" src="http://placehold.it/350x400">
          </div>
        </div>
        <div class="slide">
          <div class="columns small-12 medium-6 text-content">
            <h3>Sleepy-Fingers Proof</h3>
            <p>Dreams are best remembered upon waking. Record your dreams instantly from your bed with mobile audio recording, and make sleepy typos history.</p>
          </div>
          <div class="columns small-12 medium-6">
            <img class="show-for-small-only" src="http://placehold.it/350x150">
            <img class="show-for-medium-up medium-img" src="http://placehold.it/350x400">
          </div>
        </div>
    </div>
  </section>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
